body {
    background-color: goldenrod;
}

h1 {
    text-align: center;
}

.flex-outer {
    max-width: 800px;
    padding: 0px 16px;
}

.flex-outer li, .flex-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.flex-inner {
    justify-content: space-between;
    flex: 1 0 225px;
    padding: 0px 16px;
}

.flex-outer > li > label, .flex-outer li p {
    flex: 1 0 125px;
    max-width: 225px;
    padding: 8px;
}

.flex-outer li > label + * , .flex-inner {
    flex: 1 0 225px;
}

#text_field {
    text-align: left;
    white-space: nowrap;
    flex-direction: row;
}

.flex-outer button {
    text-transform: uppercase;
    letter-spacing: 1.2px;
    border-radius: 3px;
    padding: 6px 12px;
}

.flex-outer li, button {
    margin-left: 0px;
}

.flex-inner li {
    width: 80px;
}
