body {
    background-color: goldenrod;
}




#wrapper {

}

#container {

}

#undefined {
    text-align: center;
    font-size: 1rem;
}

h1 {
    text-align: center;
}

.flex-outer {

}

.flex-inner {
    
}