
 body {
    background-color: goldenrod;
}

h1 {
    text-align: center;
}

.flex-outer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 800px;
    padding: 0px, 16px;
}

#fname {
    flex: 1 0 255px;
}

#user_fname {
    padding: 8px;
}

#lname {
    flex: 1 0 255px;
}

#user_lname {
    padding: 8px;
}

#email {
    flex: 1 0 255px;
}

#user_email {
    padding: 8px;
}

#phone_number {
    flex: 1 0 255px;
}

#user_phone_number {
    padding: 8px;
}

#text_field {
    flex: 1 0 255px;
}

#user_text_field {
    padding: 8px;
}

.flex-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 80px;
}

#checkbox_one {
    width: 80px;
}

#checkbox_two {
    width: 80px;
}

#checkbox_three {
    width: 80px;
}

#undefined {
    margin-left: 0px;
    padding: 6px, 12px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1.2px;
    border-radius: 3px;
}